form{
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    float: inline-start;
    flex-flow: column;
    font-size: 20px;
    padding: 10px;
    background-color: aquamarine;
}
label{
    align-self: center;
}
